*
!*.*
!*/
# 実行形式ファイル
# 一行目で全てのファイルをブラックリストに入れる。要は全ファイル無視。
# 二行目で、拡張子を持つファイルをブラックリストから除く。拡張子を持つファイルを追跡できるようにする。
# 三行目で、ディレクトリをブラックリストから除く。ディレクトリ構造を持つファイルを追跡できるようにする。
 

hello

# editor
.vscode
hello.dSYM
